importFrom("MASS", ginv)
importFrom("MASS", mvrnorm)
importFrom("msm", rtnorm)
importFrom("stats", rgamma)
importFrom("stats", "sd")
importFrom("sna", gplot)
export(CEoptim)
export(rtmvnorm)
export(print.CEoptim)
export(dirichletrnd)
S3method(print,CEoptim)
